
header{
background:linear-gradient(red,black);
text-align: center;
justify-content: center;
align-items: center;

}
img{
    border-radius: 50px;
}
footer{
    font-weight: bold;
    background-color: aquamarine;
}
section{

}